<%= form_for([:admin, @category]) do |f| %>
    <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control"  %>
    </div>

    <%= f.submit @category.new_record? ? 'Create Category' : 'Update Category',
                 class: 'btn btn-primary' %>
<% end %>