<% provide(:title, 'All Categories') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>All Categories</h4>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-responsive table-hover">
      <%= will_paginate%>
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to 'Show', admin_category_path(category), class: 'btn btn-primary' %>
              <%= link_to 'Delete', admin_category_path(category),
                          class: 'btn btn-danger',
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %>
  </div>
</div>