<% provide(:title, 'All Categories') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>All Categories</h4>
  </div>
  <%= will_paginate%>
  <div class="panel-body">
    <table class="table table-bordered table-responsive table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to 'Show', admin_category_path(category), class: 'btn btn-primary' %>
              <%= link_to 'Delete', admin_category_path(category), class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate%>
</div>